In [1]:
import numpy as np
import pandas as pd
import gc
import time

from sklearn.model_selection import train_test_split

from tqdm import tqdm

import warnings
from time import time

In [2]:
%%time
train = pd.read_csv('../../TPS_2021/input/tabular-playground-series-feb-2021/train_le.csv')
test = pd.read_csv('../../TPS_2021/input/tabular-playground-series-feb-2021/test_le.csv')

CPU times: user 823 ms, sys: 57 ms, total: 880 ms
Wall time: 879 ms

In [3]:
train.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
0,1,0,1,0,0,1,3,0,4,2,...,0.881122,0.421650,0.741413,0.895799,0.802461,0.724417,0.701915,0.877618,0.719903,6.994023
1,2,1,0,0,0,1,1,0,4,0,...,0.440011,0.346230,0.278495,0.593413,0.546056,0.613252,0.741289,0.326679,0.808464,8.071256
2,3,0,0,0,2,1,3,0,1,2,...,0.914155,0.369602,0.832564,0.865620,0.825251,0.264104,0.695561,0.869133,0.828352,5.760456
3,4,0,0,0,2,1,3,0,4,6,...,0.934138,0.578930,0.407313,0.868099,0.794402,0.494269,0.698125,0.809799,0.614766,7.806457
4,6,0,1,0,0,1,1,0,4,2,...,0.382600,0.705940,0.325193,0.440967,0.462146,0.724447,0.683073,0.343457,0.297743,6.868974

In [4]:
target = train[['target']].values
train.drop(['target', 'id'], axis=1, inplace=True)
test.drop(['id', ], axis=1, inplace=True)

In [5]:
xgtrain, xgval, y_train, y_val = train_test_split(train, target, test_size=0.2, random_state=42)

In [6]:
xgtrain['target'] = y_train
xgval['target'] = y_val

In [7]:
xgtrain.to_csv('../../TPS_2021/input/tabular-playground-series-feb-2021/xgtrain.csv', index=False)
xgval.to_csv('../../TPS_2021/input/tabular-playground-series-feb-2021/xgval.csv', index=False)